html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1.2;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  background: #333;
  color: #ddd;
  font-family: "Lucida Grande", Sans-Serif;
  height: 100%;
  width: 100%;
}

.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

section#wrap {
  height: 100%;
  padding-bottom: 50px;
  position: relative;
  width: 100%;
}
aside#sidebar {
  background: #999;
  float: left;
  height: 100%;
  position: relative;
  width: 250px;
}
section#content {
  height: 100%;
  position: relative;
  margin-left: 250px
}
aside#controls {
  background: #222;
  bottom: 0;
  height: 50px;
  position: absolute;
  width: 100%;
}

section#browser {
  height: 250px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
section#browser section {
  float: left;
  height: 100%;
  position: relative;
  width: 33%;
}
section#browser section#artist {
  width: 34%;
}

section#song {
  height: 100%;
  padding-top: 275px;
  position: relative;
}
div#head {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(166,166,166)),
    color-stop(0.90, rgb(214,214,214))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(166,166,166) 0%,
    rgb(214,214,214) 90%
  );
  display: block;
  height: 25px;
  left: 0;
  position: absolute;
  top: 250px;
  width: 100%;
}
div#head ul {
  height: 100%;
  margin-left: 280px;
}
div#head span, div#head ul li {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333;
  display: block;
  float: left;
  font-size: 11px;
  font-weight: bold;
  line-height: 25px;
  padding-left: 8px;
  text-shadow: 1px 1px #fff;
}
ul#songs {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: default;
  display: block;
  height: 100%;
  position: relative;
}
ul#songs li {
  display: block;
  position: relative;
}
ul#songs li div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 100%;
}
ul#songs li set {
  display: block;
  margin-left: 280px;
}
ul#songs li set song {
  display: block;
  height: 24px;
  position: relative;
  width: 100%;
}
ul#songs li set song.odd {
  background-color: #444;
}
ul#songs li set song span {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  float: left;
  font-size: 11px;
  font-weight: bold;
  height: 100%;
  line-height: 24px;
  padding-left: 8px;
  text-shadow: 1px 1px #111;
}
.album {
  float: left;
  width: 280px;
}
div.album {
  box-shadow: 0px 10px 50px 0px #222 inset;
  -webkit-box-shadow: 0px 10px 50px 0px #222 inset;
  -moz-box-shadow: 0px 10px 50px 0px #222 inset;
}
.name {
  width: 30%;
}
.artist {
  width: 30%;
}
.track {
  width: 10%;
}
.duration {
  width: 10%;
}
.genre {
  width: 20%;
}

