html, body {
  background: #333;
  color: #ddd;
  font-family: "Lucida Grande", Sans-Serif;
  height: 100%;
  width: 100%;
}

.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

section#content {
  height: 100%;
  padding-bottom: 50px;
  width: 100%;
}
aside#sidebar {
  background: #999;
  float: left;
  height: 100%;
  width: 250px;
}
section#browser {
  height: 100%;
  margin-left: 250px
}
aside#controls {
  background: #222;
  bottom: 0;
  height: 50px;
  position: absolute;
  width: 100%;
}
